<%= render "header.html", assigns %>
<%= render "jumbotron.html", assigns %>

<%= if @posts != [] do %>
<%= for post <- @posts do %>
<h2><a href="<%= @site_root %>posts/<%= post[:id] %>"><%= post[:title] %></a></h2>
<p><%= post[:date] %> by <%= post[:author] %></p>
<p><%= post[:excerpt] %></p>
<% end %>
<% else %>
<center><h2>Ouch! There aren't an posts here, whaaat?</h2></center>
<% end %>

<%= render "footer.html", assigns %>
