<%= render "header.html", assigns %>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1><%= @post[:title] %></h1>
      <p class="post-info">
        <%= @post[:date] %> by <%= @post[:author] %>
      </p>
      <%= raw @post[:content] %>
    </div>
    <%= widget "recent posts", assigns %>
  </div>
</div>
<%= render "footer.html", assigns %>
