<table class="recent-posts">
<%= for post <- @posts do %>
  <tr>
    <td style="white-space:nowrap"><%= post[:date] %></td>
    <td><a href="<%= @site_root %>posts/<%= post[:id] %>"><%= post[:title] %></a></td>
  </tr>
<% end %>
</table>
